/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}


body {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
}

#skip {
    background: white;
    color: black;
    border: 5px solid var(--purple);
    font-family: sans-serif;
    font-weight: bolder;
    left: 85%;
    padding: 5px;
    position: absolute;
    transform: translateY(-1000%);
}

#skip:focus {
    transform: translateY(100%);
}
  
#skip {
    transition: transform 0.5s ease;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: linear-gradient(#55BCD5, white);
}

header img {
    grid-column-start: 1;
    grid-column-end: 2;
}

nav {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 30px;
    margin-left: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Molle;
    font-style: italic;
    font-size: 48px;
    padding-top: 15px;
    padding-left: 15px;
}

header p {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 2rem;
}

header h2 {
    display: none;
}

nav ul {
    background-color: var(--teal);
    text-align: center;
    width: fit-content;
}

nav li {
    border-bottom: solid 2px black;
    padding: 30px;
}

nav a {
    color: black;
    text-decoration: none;
}

h2 {
    font-family: Molle;
    font-style: italic;
    font-size: 40px;
    padding-left: 15px;
    padding-bottom: 10px;
}

#intro {
    padding-top: 15px;
}

#intro p {
    padding-left: 15px;
    padding-bottom: 10px;
    line-height: 2rem;
}

#img-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

#intro img:last-child {
    padding-bottom: 20px;
}

#plan {
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--yellow);
}

#plan h3 {
    font-family: Molle;
    font-style: italic;
    font-size: 35px;
    position: relative;
    top: 20px;
    left: 30px;
}

#plan h4 {
    position: relative;
    top: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight:bold;
}

#plan section, #testimonials section {
    padding: 30px;
    text-align: center;
}

#plan img {
    background-color: var(--teal);
    padding: 50px;
    width: 300px;
    height: 300px;
    border: solid 5px white;
    border-radius: 10px;
}

#testimonials h4, #about h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

#testimonials p, h4, q {
    padding: 5px;
}

q {
    font-style: italic;
}

#testimonials h3 {
    font-family: Molle;
    font-style: italic;
    font-size: 35px;
    position: relative;
    top: 20px;
    left: 60px;
}

#about {
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--blue);
}

#about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
    padding: 20px;
}

#about h3 {
    position: relative;
    top: 20px;
    left: 20px;
    padding-bottom: 20px;
    width: 50%;
    font-family: Molle;
    font-style: italic;
    font-size: 35px;
}

#contact {
    margin-bottom: 20px;
}

#contact h3 {
    font-family: Molle;
    font-style: italic;
    font-size: 35px;
    position: relative;
    left: 30px;
    padding-bottom: 10px;
}

.form-required {
    font-family: Montserrat;
    font-size: 15px;
}

form {
    display: block;
    box-sizing: border-box;
    padding-left: 10px;
}

#contact input, #contact label, legend, #destination, #travelTime {
    display: block;
    width: 75%;
    margin: auto;
    box-sizing: border-box;
}

#contact label, legend {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#selects {
    padding-bottom: 10px;
}

#contact input {
    padding: 10px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 2px solid var(--purple);
}

.required {
    color: var(--purple);
}

select {
    border: 2px solid var(--purple);
    padding: 10px;
}

input[type=submit] {
    padding: 50px;
    background-color: var(--purple);
    color: white;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: var(--light-gray);
    padding: 30px;
}

footer p, a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* MEDIA SCREENS */

@media screen and (min-width: 375px) { /* HAMBURGER MENU */
  ul {
      overflow: hidden;
      max-height: 0;
      transition: max-height .2s ease-out;
  }
  #menu-toggle label {
      cursor: pointer;
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      position: relative;
      user-select: none;
      text-align: center;
      background-color: var(--yellow);
  }
  #toggle {
      display: none;
  }
  #toggle:checked ~ ul {
      max-height: 500px;
  }
  #toggle:checked ~ label span {
      background: transparent;
  }
  #toggle:checked ~ label span:before {
      transform: rotate(-45deg);
  }
  #toggle:checked ~ label span:after {
      transform: rotate(45deg);
  }
  #toggle:checked ~ label:not(.steps) span:before, #toggle:checked ~ label:not(.steps) span:after {
      top: 0;
  }
}

/* MEDIUM SCREENS */

@media screen and (min-width: 640px) {

    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background-image: linear-gradient(#55BCD5, white);
    }
    
    header img {
        grid-column-start: 1;
        grid-column-end: 2;
        position: relative;
        top: 50px;
    }
    
	nav{
		max-width: 1200px;
		margin: 0 auto;
	}
	
	nav ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    #menu-toggle label {
        display: none;
    }

    #toggle {
        display: none;
    }

    ul {
        overflow: visible;
        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        align-items: center;
        width: 100%;
        top: 0
    }
    
    nav li {
        border: none;
        width: 100%;
    }
    
    nav a {
        background-color: var(--yellow);
        color: black;
        text-decoration: none;
        padding: 20px;
    }

    nav a:hover {
        background-color: white;
    }
    
    h1 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: Molle;
        font-style: italic;
        font-size: 48px;
        padding-top: 15px;
        padding-left: 15px;
        position: relative;
        top: 50px;
    }
    
    header p {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        padding-left: 15px;
        padding-bottom: 15px;
        position: relative;
        top: 0px;
        font-size: 18px;
        line-height: 2rem;
    }

}

/* LARGE SCREENS */